<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854917540812-fg5j1rlok3k7ur6o3968g7ijqb4v78i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854917540812-fg5j1rlok3k7ur6o3968g7ijqb4v78i2</string>
	<key>API_KEY</key>
	<string>AIzaSyBDWYWupTXCQkXomyJkX-9ZL8Z454hoeCI</string>
	<key>GCM_SENDER_ID</key>
	<string>854917540812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdo.ios.instegramClone</string>
	<key>PROJECT_ID</key>
	<string>instegram-clone-e3e94</string>
	<key>STORAGE_BUCKET</key>
	<string>instegram-clone-e3e94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854917540812:ios:1e6d311e95fd3889cacb69</string>
	<key>DATABASE_URL</key>
	<string>https://instegram-clone-e3e94-default-rtdb.firebaseio.com</string>
</dict>
</plist>